*{
    padding: 0px;
    box-sizing: border-box;
}
.one{
     border:none;
    border-bottom: 2px solid white;
    padding:10px;
    outline: none;
    margin-top: 200px;
}
button{
    height: 20px;
    width: 70px;
    margin-top: 20px;
}
